@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Limelight|Pacifico');

app {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    text-align: center

}

.app__header {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
    text-stroke: 1px #000;
}

li, p, a {
    font-family: 'Limelight', cursive;
}
